.btn {
  cursor: pointer;
  padding: 10px 12px;
  border: none;
  background-color: #4b0082;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;

  // &--normal {
  //   background-color: #4b0082;
  //   color: #fff;
  // }

  // &--warning {
  //   background-color: #dc143c;
  //   color: #fff;
  // }

  &:hover {
    background-color: SlateBlue;
  }
}
