.btn {
  cursor: pointer;
  padding: 10px 15px;
  border: none;

  &--normal {
    background-color: #e6e6e6;
    color: #000;
  }

  &--warning {
    background-color: #df4747;
    color: #fff;
  }
}
