.squares-groups {
  margin: 10px auto;
  width: 100%;
  background-color: #d8bfd8;
  border-radius: 10px;
  border: 1px solid #4b0082;
  &__list {
    color: #4b0082;
  }
  &__color-type {
    margin-bottom: 3px;
    font-weight: 500;
  }
}
