.squares-list {
  margin: 10px;
  width: 300px;
  &__total {
    font-size: 20px;
    font-weight: 700;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__control {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
}
