.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

  &--violet {
    background-color: #8a2be2;
  }

  &--purple {
    background-color: #800080;
  }

  &--orchid {
    background-color: #da70d6;
  }

  &:hover {
    opacity: 0.9;
  }
}
