.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: aliceblue;
  cursor: pointer;

  &--violet {
    background-color: #8a2be2;
  }

  &--purple {
    background-color: #800080;
  }

  &--orchid {
    background-color: #da70d6;
  }

  &:hover {
    opacity: 0.9;
  }

  &__number {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #353235;
  }
}
